ul {
    padding-left: 0;
}

ul li {
    list-style-type: none;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}

ul li i {
    margin-top: 4px;
    cursor: pointer;
}